@import "../../node_modules/bootstrap/scss/bootstrap";

@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }
}

.pointer {
  cursor: pointer;
}

.ajs-message.ajs-visible {
  color: #fff !important;
  background-color: #5c636a !important;
  border-radius: 6px !important;
}
.alertify-notifier.ajs-top {
  top: 60px !important;
}